header {
    @media screen and (max-width: 1100px) {
        visibility: hidden;
        position: absolute;
        
    }
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
   
    h1 {
        align-self: center;
        background-color: black;
        color:aliceblue;
        padding: 5px 15px;
        border-radius: 20px;
        font-size: 18px;
        
    }
    nav {
        ul {
            display: flex;
            gap: 10px;
            list-style: none;
        }
    }
}
