header {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
   
    h1 {
        align-self: center;
        background-color: black;
        color:aliceblue;
        padding: 5px 15px;
        border-radius: 20px;
        font-size: 18px;
    }
    nav {
        ul {
            display: flex;
            gap: 10px;
            list-style: none;
        }
        
        // .p-name {
        //     font-size: 40px;
        //     max-width: 150px;
        //     font-weight: bold;
        //     white-space: pre-line;

        // }
        // .profission {
        //     border: 1px solid black;
        //     padding: 5px 20px;

        //     border-radius: 20px;
            
        // }
    }
}
