article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #ffffff;
    border-radius: 20px;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    gap: 50px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.3);
    div {
        .details{
           background: #fff;
           padding: 20px 20px;
           border-radius: 20px;
           align-self: center;
           box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
        }
    }

    img {
        border-radius: 20px;
        max-width: 400px;
        max-height: 400px;
        justify-self: center;
    }    
    .left {
        grid-row: 1;
        grid-column: 1;
    }


    li {
        margin-left: 25px;
    }
}