article {
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3); /* Valores ajustados para criar a elevação */
    p {
        color: #747d8c;
    }
    
    margin-top: 20px;
    display: flex;
    background-color: #f5f6fa;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
    position: relative;
    gap: 10px;
    img {
        border-radius: 20px;
        max-width: 100px;
        max-height: 100px;
    }
    ul {
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        
        flex-wrap: wrap;
        li {
            display: flex;
            width: 75px;
            justify-items: center;
            justify-content: center;
            align-items: center;
            background-color: #FFF;
            padding: 2px 4px;
            border-radius: 5px;
            box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1);
        }
    }
    .details {
        display: flex;
        div {
            justify-self: flex-start;

        }
    }
    .description {
        align-self: center;      
    }

    .e1 {
        width: 10px;
        height: 35px;
        background-image: linear-gradient(greenyellow,rgb(122, 183, 32));

        
        position: absolute;
        left: -10px;
        top: 20px;
    }

    @media screen and (max-width: 1400px) {
        .details {
            display: grid;
        }
    }
  
}