/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;
    letter-spacing: 0.5px;
    box-sizing: border-box;
}

@media screen and (max-width: 1400px) {
    .main {
      
    }
}

.main {
    padding: 0 350px;
    background-color: #FFF;
    display: block;
}


/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
html, body { height: 100%; }
body { font-family: Roboto, "Helvetica Neue", sans-serif; }
@media screen and (max-width: 1200px) {
    .main {
        padding: 0;
    }
}