section {
    h2 {
        font-size: 80px;
        margin-right: 50px;
        color: #f6dbdb;
    }
    div {
        p {
            max-width: 70%;
        }
    }
    display: flex;
    justify-content: space-between;
   
}