section {
    h2 {
        font-size: 80px;
        margin-right: 50px;
        color: #f6dbdb;
        line-height: 0.9;
        max-width: 200px;
        word-wrap: break-word;

    }
    
    div {
        p {
            max-width: 70%;
        }
    }
    p {
        color: #747d8c;
    }
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 1400px) {
        h2 {
            max-width: 100%;
            text-align: start;
            font-size: 40px;
        }
        display: grid;
        align-items: center;
        div {
            p {
                max-width: 100%;
            }
        }
        
    }
}